@font-face {
    font-family: 'fremontregular';
    src: url('fonts/fremont/ufonts.com_fremont-regular-webfont.woff2') format('woff2'),
         url('fonts/fremont/ufonts.com_fremont-regular-webfont.woff') format('woff');
}
@font-face{
    font-family: 'Gibson W01 Light';
    src:url('fonts/gibson/8c8c87b5-b4cc-4e13-968b-3a5349f9b8fe.eot?#iefix');
    src:url('fonts/gibson/8c8c87b5-b4cc-4e13-968b-3a5349f9b8fe.eot?#iefix') format('eot'),
    	url('fonts/gibson/f9652f61-d4a3-4553-8fef-1c806d729599.woff2') format('woff2'),
    	url('fonts/gibson/288a6353-855b-42b6-85f9-ff40f95a7801.woff') format('woff'),
    	url('fonts/gibson/f36faf6d-a5e3-4ba1-bc3d-bdd58f094a05.ttf') format('truetype'),
    	url('fonts/gibson/9c7299af-b56f-4091-9d3a-1c2841cfb64a.svg#9c7299af-b56f-4091-9d3a-1c2841cfb64a') format('svg');
}
@font-face{
    font-family: 'Gibson W01 Regular';
    src:url('fonts/gibson/cf92324e-b812-499e-a59d-ea8219cf304c.eot?#iefix');
    src:url('fonts/gibson/cf92324e-b812-499e-a59d-ea8219cf304c.eot?#iefix') format('eot'),
    	url('fonts/gibson/1a225081-916f-484d-81f1-4715b8fe18ee.woff2') format('woff2'),
    	url('fonts/gibson/194f1486-eb82-4e2a-b488-1bada9f96825.woff') format('woff'),
    	url('fonts/gibson/cabceed6-e15e-476c-8a80-ca17fae88901.ttf') format('truetype'),
    	url('fonts/gibson/f98e12c4-8093-4ac4-b74e-93d397f4b010.svg#f98e12c4-8093-4ac4-b74e-93d397f4b010') format('svg');
}
@font-face{
    font-family: 'Gibson W01 SemiBold';
    src:url('fonts/gibson/342f32db-44df-4bd7-8c4d-6182ad51c637.eot?#iefix');
    src:url('fonts/gibson/342f32db-44df-4bd7-8c4d-6182ad51c637.eot?#iefix') format('eot'),
    	url('fonts/gibson/fcc67812-9197-431b-b33a-43a8ca921483.woff2') format('woff2'),
    	url('fonts/gibson/6bbb06a1-56bb-4dc0-854d-9a48a4022aeb.woff') format('woff'),
    	url('fonts/gibson/f5ee2c47-9a35-4de6-a1e3-f6454ebfce94.ttf') format('truetype'),
    	url('fonts/gibson/b6c8bf74-5cf5-4810-b4f1-35af1f3f0fb5.svg#b6c8bf74-5cf5-4810-b4f1-35af1f3f0fb5') format('svg');
}

$gibson: 'Gibson W01 Regular';
$gibson-light: 'Gibson W01 Light';
$gibson-bold: 'Gibson W01 SemiBold';
$fremont: 'fremontregular';

$body-font: $gibson-light;
$display: $fremont;
