footer {
	background: #1d2831;
	color: #fff;
	font-family: $gibson;
	@include font-size(1.8, 2.4);
	.container {
		display: flex;
		align-items: center;
		aside {
			@include rowMachine(2, 5%);
		}
	}
}
