.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1.5, 2);
	-webkit-appearance: none;
	border-radius: 0;
	@include rems(margin-bottom, 2);
	outline: none;

	// Custom Styles

	background-color: #f0f0f0;
	color: $alt;
	font-family: $body-font;
	@include font-size(1.8, 2.4);
	border: 1px solid #ccc;
	transition: 0.4s all ease;
	&:focus {
		border: 1px solid $main;
	}
	&.form-name {
		background: url('images/icons/icon-user@2x.png') center left 20px no-repeat #f0f0f0;
		background-size: 27px auto;
		background-size: 2.7rem auto;
		@include rems(padding-left, 6.7);	
	}
	&.form-tel {
		background: url('images/icons/icon-tel@2x.png') center left 20px no-repeat #f0f0f0;
		background-size: 27px auto;
		background-size: 2.7rem auto;
		@include rems(padding-left, 6.7);
	}
	&.form-email {
		background: url('images/icons/icon-mail@2x.png') center left 20px no-repeat #f0f0f0;
		background-size: 27px auto;
		background-size: 2.7rem auto;
		@include rems(padding-left, 6.7);
	}
}
textarea {
	@include rems(height, 14.4);
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles
	background: #f0f0f0;
	@include rems(padding, 1.5, 2);
	border: none;
	font-family: $gibson;
	@include font-size(1.8, 2.4);
	color: #fff;
	background: $main;
	@include box;
	width: 100%;
	text-align: center;
}
select {
	background-image: url('images/select@2x.png');
	background-position: right 20px center;
	background-repeat: no-repeat;
	background-size: 14px auto;
	background-size: 1.4rem auto;
	@include rems(padding, 1.5, 4, 1.5, 2);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	@include rems(margin-bottom, 2);
	outline: none;

	// Custom Styles

	background-color: #f0f0f0;
	font-family: $body-font;
	@include font-size(1.8, 2.4);
	border: 1px solid #ccc;
	color: $alt;
	transition: 0.4s all ease;
	&:focus {
		border: 1px solid $main;
	}
}
select::-ms-expand {
    display: none;
}
form {
	@include clearfix;
	input[type="submit"] {
		float: right;
	}
	p {
		padding-bottom: 0;
	}
	br {
		display: none;
	}
}
::-webkit-input-placeholder {
   color: $alt;
}

:-moz-placeholder { /* Firefox 18- */
   color: $alt;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $alt;  
}

:-ms-input-placeholder {  
   color: $alt;  
}
