body {
	font-family: $body-font;
	@include font-size(2.6, 3.4);
	color: $body;	
	background: #fff;
	@media #{$phone} {
		@include font-size(2, 2.6);
	}
}
img.unveil {
	opacity: 0;
	transition: 0.4s all ease;
}
.container {
	@include rems(max-width, 160);
	@include clearfix;
	position: relative;
	&.mid {
		@include rems(max-width, 120);
	}
	&.narrow {
		@include rems(max-width, 80);
	}
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
		@media #{$phone} {
			@include rems(padding, 4, 0);
		}
	}
	&.no-top {
		padding-top: 0;
	}
	&.no-bottom {
		padding-bottom: 0;
	}
}
.acf-map {
	@include rems(height, 34);
}
.page-content {
	position: relative;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}
.large-button {
	background: #fff;
	color: $main;
	display: inline-block;
	@include rems(padding, 2, 10);
	font-family: $gibson;
	text-decoration: none;
	transition: 0.4s all ease;
	@include font-size(2.4, 3);
	&:hover {
		@include opacity(0.8);
	}
}
.bx-wrapper {
	position: relative;
	@include rems(padding-bottom, 3);
}
.bx-pager {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	@include rems(padding-top, 2.5);
	z-index: 10;
	& > div {
		display: inline-block;
		@include rems(margin, 0, 0.2);
		a {
			display: block;
			@include rems(width, 1);
			@include rems(height, 1);
			border: 1px solid $main;
			text-indent: -10000px;
			@include border-radius(50%);
			&.active {
				background: $main;
			}
		}
	}
}
