header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	border-bottom: 1px solid transparent;
	transition: 0.4s all ease;
	@media #{$phone} {
		opacity: 0;
	}
	.container {
		@include rems(max-width, 300);
		display: flex;
		align-items: center;
		@include rems(padding, 4, 0);
		transition: 0.4s all ease;
	}
	aside {
		&.header-logo {
			width: 25%;
			@include rems(max-width, 21);
			@media #{$phone} {
				width: 100%;
				max-width: 10000px;
			}
		}
		&.header-main {
			width: 75%;
			margin-left: auto;
			@include clearfix;
			@media #{$phone} {
				display: none;
			}
		}
	}
	h1 {
		width: 100%;
		text-indent: -10000px;
		@include rems(height, 6);
		background: url('images/header-logo-white@2x.png') center left no-repeat;
		background-size: contain;
		transition: 0.4s all ease;
		@media #{$phone} {
			background-position: center center;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		span {
			display: block;
			width: 100%;
			height: 100%;
			background: url('images/header-logo@2x.png') center left no-repeat;
			background-size: contain;
			transition: 0.4s all ease;
			opacity: 0;
			@media #{$phone} {
				background-position: center center;
			}
		}
	}
	&.fixed {
		background: rgba(255, 255, 255, 0.95);
		border-bottom: 1px solid #ccc;
		@media #{$phone} {
			opacity: 1;
		}	
		.container {
			@include rems(padding, 2, 0);
		}
		h1 {
			@include rems(height, 4);
			background-image: none;
			span {
				opacity: 1;
			}
		}
	}
}
