.content-block {
	text-align: center;
	background: #fff;
	position: relative;
	z-index: 10;
	p {
		width: 100%;
		@include rems(max-width, 80);
		margin: 0 auto;
	}
}
.flex-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&.large {
		.no-flexbox &, .ie-11 & {
			display: block;
			@include clearfix;
		}
		li {
			@include rems(padding, 0, 2);
			.no-flexbox &, .ie-11 & {
				float: left;
				@include rowMachine(5, 2%);
				padding: 0;
			}
			@media #{$phone} {
				@include rems(padding, 1, 0);
			}
		}
	}
	li {
		@include rems(padding, 0, 1);
		text-align: center;
		img {
			display: inline-block;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}	
}
.book-list {
	img {
		-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
		@media #{$phone} {
			-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
					box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
		}
	}
}

@import 'landing/feature.scss';
@import 'landing/imprints.scss';
@import 'landing/team.scss';
@import 'landing/contact.scss';
