nav {
	&.social {
		float: right;
		transition: 0.4s all ease;
		overflow: hidden;
		footer & {
			@include font-size(3, 3);
		}
		.fixed & {
			height: 0;
		}
	}
	&.main {
		float: right;
		clear: right;
		@include rems(padding-top, 2);
		transition: 0.4s all ease;
		@media #{$tablet-portrait} {
			@include rems(padding-top, 1);
		}	
		.fixed & {
			padding-top: 0;
		}
		a {
			display: block;
			@include rems(padding-bottom, 0.5);
			border-bottom: 1px solid transparent;
			transition: 0.4s all ease;
			&:hover, &.active {
				border-bottom: 1px solid #fff;
			}
		}
	}
	header &, footer & {
		ul {
			@include clearfix;
			li {
				float: left;
				@include rems(margin-right, 4);
				@media #{$tablet-portrait} {
					@include rems(margin-right, 2);
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		&.social {
			li {
				@include rems(margin-right, 2);
			}
		}
	}
	header.fixed & {
		a {
			color: $body;
			&:hover, &.active {
				color: $main;
				border-bottom: 1px solid $main;
			}
		}
	}
}
