nav {
	header & {
		font-family: $gibson;
		@include font-size(2, 2.4);
		&.social {
			@include font-size(3, 3);
		}
	}
}
a {
	color: $main;
	text-decoration: none;
}
h2 {
	&.feature-title {
		color: $main;
		@include font-size(5, 5);
		font-family: $display;
		@include rems(margin-bottom, 6);
		@media #{$phone} {
			@include font-size(3, 3);
			@include rems(margin-bottom, 2);
		}
		&.white {
			color: #fff;
		}
		&.dark {
			color: $alt;
		}
	}
	.team-member-overlay & {
		@include font-size(2.4, 2.4);
		font-family: $display;
	}
}
address {
	font-family: $gibson;
	font-style: normal;
	@include font-size(1.8, 2.4);
	span {
		display: block;
	}
}
