.contact {
	background: #fff;
	.container {
		@include rems(max-width, 120);
	}
	.contact-split {
		@include clearfix;
		& > aside {
			@include rowMachine(2, 10%);
			@media #{$phone} {
				@include rowMachine(1, 5%);
				&:nth-child(2n+1):nth-last-child(-n+2),
  				&:nth-child(2n+1):nth-last-child(-n+2) ~ * {
  					margin-bottom: 5%;
  				}
			}
			.acf-map {
				@include rems(margin, 2, 0, 4);
			}
		}
	}
}
