.home-feature {
	position: relative;
	.container {
		@include box;
		@include rems(height, 70);
		display: flex;
		align-items: center;
		justify-content: center;
		@include rems(max-width, 100);
		.no-flexbox & {
			display: block;
			@include rems(padding, 16, 0);
		}
		@media #{$phone} {
			@include rems(height, 40);
		}
	}
	h2 {
		color: #fff;
		@include font-size(10, 10);
		font-family: $display;
		text-align: center;
		text-shadow: 0 0 40px #000;
		@media #{$phone} {
			@include font-size(4, 4);
			@include rems(margin-top, -12);
		}
		span {
			display: block;
			font-family: $gibson-bold;
			text-transform: uppercase;
			@include font-size(2, 3);
			@include rems(letter-spacing, 2);
			text-shadow: 0 0 10px #000;
			@media #{$phone} {
				@include rems(margin-bottom, 2);
				@include rems(letter-spacing, 1);
			}
		}
	}
	.z-logo {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		&:before {
			content: '';
			position: absolute;
			@include rems(top, 8);
			@include rems(left, -2);
			@include rems(right, -2);
			@include rems(bottom, -10);
			background: #fff;
			display: block;
			transform: rotate(-2deg);
			transition: 0.4s all ease;
		}
		h2 {
			text-indent: -10000px;
			@include rems(width, 15);
			@include rems(height, 15);
			margin: 0 auto;
			background: url('images/z-logo@2x.png') center center no-repeat;
			background-size: contain;
			-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
					box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
			position: relative;
			z-index: 20;
		}
	}
}
