.imprint-feature {
	border: 20px solid #fff;
	border-top: none;
	@include box;
	@media #{$phone} {
		border: 5px solid #fff;
		border-top: none;
	}
	.container {
		@include rems(min-height, 68);
		display: flex;
		align-items: center;
		@include box;
		@media #{$phone} {
			flex-wrap: wrap;
		}
	}
	.content-section {
		width: 40%;
		color: #fff;
		@include clearfix;
		@media #{$phone} {
			width: 100%;
		}
		h2, p {
			@include rems(margin-bottom, 4);
		}
		h2 {
			width: 100%;
			display: block;
			text-indent: -10000px;
		}
		a {
			font-family: $gibson-bold;
			display: block;
			@include rems(padding-bottom, 0.3);
			border-bottom: 1px solid #fff;
			float: left;
			color: #fff;
			text-decoration: none;
		}
	}
	.book-section {
		width: 50%;
		@media #{$phone} {
			width: 100%;
		}
	}
	.left {
		margin-right: 10%;
		@media #{$phone} {
			margin-right: 0;
			@include rems(margin-bottom, 2);
		}
	}
	&#imprint-zaffre {
		background: url('images/backgrounds/zaffre.jpg') center center no-repeat;
		@media #{$tablet-portrait} {
			background-size: cover;
		}
		h2 {
			background: url('images/logos/zaffre-white@2x.png') center left no-repeat;
			background-size: contain;
			@include rems(height, 4.5);
		}
	}
	&#imprint-twenty7 {
		background: url('images/backgrounds/twenty7.jpg') center center no-repeat;
		@media #{$tablet-portrait} {
			background-size: cover;
		}
		.container {
			@media #{$phone} {
				flex-direction: column-reverse;
			}
		}
		.left {
			@media #{$phone} {
				margin-bottom: 0;
				@include rems(margin-top, 2);
			}
		}
		h2 {
			background: url('images/logos/twenty7-white@2x.png') center left no-repeat;
			background-size: contain;
			@include rems(height, 4);
		}
	}
	&#imprint-entwined {
		background: url('images/backgrounds/entwined.jpg') center center no-repeat;
		@media #{$tablet-portrait} {
			background-size: cover;
		}
		h2 {
			background: url('images/logos/entwined-white@2x.png') center left no-repeat;
			background-size: contain;
			@include rems(height, 5.5);
		}
	}
}
