.team {
	border-top: 40px solid #0a2c54;
	border-bottom: 40px solid #0a2c54;
	background: url('images/big-z.png') center center no-repeat #0a2c54;
	background-size: contain;
	color: #fff;
	.ie-10 & {
		display: none;
	}
	img {
		display: block;
	}
	.bx-viewport {
		overflow: visible !important;
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 3000px;
			background: rgba(10, 44, 84, 0.9);
			z-index: 10;
		}
		&:before {
			left: 100%;
		}
		&:after {
			right: 100%;
		}
	}
	.bx-next, .bx-prev {
		position: absolute;
		color: #fff;
		text-shadow: 0 0 10px #000;
		@include font-size(5, 5);
		display: block;
		transition: 0.4s all ease;
		top: 50%;
		transform: translateY(-50%);
		@include rems(margin, 0, 2);
		z-index: 20;
		&.disabled {
			opacity: 0;
		}
		.ie-10 & {
			transform: none;
		}
	}
	.bx-next {
		left: 100%;
	}
	.bx-prev {
		right: 100%;
	}
	.bx-pager {
		top: 100%;
		padding-top: 0;
		& > div {
			a {
				border: 1px solid #fff;
				&.active {
					background: #fff;
				}
			}
		}
	}
	.isotope-list {
		@include rems(max-width, 125);
		width: 100%;
		margin: 0 auto;
		@media #{$laptop} {
			@include rems(max-width, 100);
		}
		@media #{$tablet} {
			@include rems(max-width, 90);
		}
	}
	.grid-item {
		width: 20%;
		@media #{$phone} {
			width: 33.33333%;
		}	
	}
	.isotope-item {
		@include rems(padding, 0.5);
		@include box;
		width: 20%;
		@media #{$phone} {
			width: 33.33333%;
		}
		&.double-wide {
			width: 40%;
			@media #{$phone} {
				width: 33.33333%;
			}
		}
	}
	.team-member {
		position: relative;
		.team-member-overlay {
			color: #fff;
			@include rems(padding, 2);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			@include vertical-grad(rgba(35, 88, 149, 0.2), rgba(35, 88, 149, 0.8));
			transition: 0.4s all ease;
			opacity: 0;
			@media #{$phone} {
				@include rems(padding, 1);
			}
		}
		&:hover {
			.team-member-overlay {
				opacity: 1;
			}
		}
	}
}
